/* Website styles */

​
* {
  font-size: 100%;
  margin: 0;
  line-height: 1;
  box-sizing: content-box;
}
body {
  color: black;
  background-color: grey;
  font-size: 25px;
}
.container {
  max-width: 100%;
  margin: 0 auto;
  background-repeat: repeat;
  display: grid;
  grid-template-columns: 30% 60%;
  align-items: start;
  justify-content: space-between;
}
​
.container2 {
  padding-right: 25%;
}
​
.description {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 10%;
  padding-right: 10%;
}
​
img {
  width: 100%;
  padding: 10%;
}

.containera1 {
  max-width: 100%;
  margin: 0 auto;
  background-repeat: repeat;
  display: grid;
  grid-template-columns: 30% 60%;
  align-items: start;
  justify-content: space-between;
}
.containera2 {
  max-width: 100%;
  margin: 0 auto;
  background-repeat: repeat;
  display: grid;
  grid-template-columns: 30% 60%;
  align-items: start;
  justify-content: space-between;
}
.containera3 {
  max-width: 100%;
  margin: 0 auto;
  background-repeat: repeat;
  display: grid;
  grid-template-columns: 30% 60%;
  align-items: start;
  justify-content: space-between;
}
.containera4 {
  max-width: 100%;
  margin: 0 auto;
  background-repeat: repeat;
  display: grid;
  grid-template-columns: 30% 60%;
  align-items: start;
  justify-content: space-between;
}
.container2 {
  padding-right: 10%;
}
.description {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 10%;
  body {
    color: rgb(178, 34, 34);
    font-size: 14px;
    font-family: 'Nerko One', cursive;
    background-color: grey;
    margin: 50px;
  }
  /* start of menu  */
  @import url(https://fonts.googleapis.com/css?family=Open+Sans);
  html {
    height:100%;
    background-image: linear-gradient(to right top, #8e44ad 0%, #3498db 100%);
  }
  nav {
    max-width: 60%;
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
    margin: 0 auto;
    padding: 60px 0;
  }
  nav ul {
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a {
    padding: 28px;
    font-family: "Open Sans";
    text-transform:uppercase;
    color: rgba(0, 35, 122, 0.5);
    font-size: 18px;
    text-decoration: none;
    display: block;
  }
  nav ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 35, 122, 0.7);
  }
  /* end of menu */
